<div class="Container">
    <div class="LogoHome">
        <h1>My Portfolio</h1>
    </div>
    <div class="opcaoMenu">
        <div class="opcaoUm">
            <a>Inicio</a>
        </div>
        <div class="opcaoDois">
            <a>Projetos</a>
        </div>
        <div class="opcaoTres">
            <a>Contatos</a>
        </div>
        <!-- <div class="dropdown">
            <i class="fa fa-align-justify icone"></i>
            <div class="dropdown-content">
                <div class="botaoUm botaoCor">
                    <a href="Inicio">Inicio</a>
                </div>
                <div class="botaoDois botaoCor">
                    <a href="Projetos">Projetos</a>
                </div>
                <div class="botaoTres botaoCor"> 
                    <a href="Contato">Contato</a>
                </div>
            </div>
        </div> -->
    </div>
</div>